<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>携华网关登录</title>
</head>
<body>
<div class="container">
        <h3 class="card-title">&nbsp;</h3>
        <h3 class="card-title text-center">网关登录</h3>

    <form>
        <div class="form-group">
            <label for="name">用户名:</label>
            <input type="text" class="form-control" id="name" placeholder="请输入用户名">
        </div>
        <div class="form-group">
            <label for="pwd">密码:</label>
            <input type="password" class="form-control" id="pwd" placeholder="请输入密码">
        </div>
        <div class="form-group form-inline">
            <label for="code">验证码:</label>
            <div style="width: 100%;height: 0.8em">&nbsp;</div>
            <input type="text" class="form-control" id="code" placeholder="请输入验证码">&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="/${sysNameDTO.applactionName}/login/code2" class="img-fluid" alt="Responsive image">
        </div>
        <div class="form-group">

        <button type="button" class="btn btn-primary" id = "btn_login">登录</button>
        </div>
    </form>



</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
    $("#btn_login").click(function() {
        //创建异步对象
        var xhr = new XMLHttpRequest();
        //设置请求的类型及url
        //post请求一定要添加请求头才行不然会报错
        xhr.open('post', '/${service_name}/login' );
        xhr.setRequestHeader("Content-type","application/json; charset=utf-8");
        //发送请求
        xhr.send(JSON.stringify(getJsonData()));
        xhr.onreadystatechange = function () {
            // 这步为判断服务器是否正确响应
            if (xhr.readyState == 4 && xhr.status == 200) {
                window.location.href="/xiehua_gateway/service/index";
            }
        };
    });

//        $.Ajax({
//            type: "POST",
//            url: "/config/authentication",
//            contentType: "application/json; charset=utf-8",
//            data: JSON.stringify(getJsonData()),
//            dataType: "json",
//            success: function (message) {
//                alert(message)
//            },
//            error: function (message) {
//               alert(message);
//            }
//        });




        function getJsonData() {
        var json = {
            "name": $("#name").val(),
            "pwd": $("#pwd").val(),
            "code": $("#code").val()
        };
        return json;
    }

</script>

</body>
</html>